/*
Custom styles to override bootstrap go here
 */

#linkOverride{
    background-color: #C41E3A;
    color: #f8f9fa;
}
#cardOverride{
    background-color: #355E3B;
    color: #f8f9fa;
}
#cardOverride div{
    background-color: #4c8554;
}
#footerOverride{
    background-color: #2a2a2a;
}
#cssOverride{

}
#navbarOverride{
    background-color: #f8f9fa;
}

#facebookButton{
    background-color: black;
    transition: 0.2s;
}

#facebookButton:hover{
    background-color: #355E3B;
}